.profile-main {
  text-align: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-sub {
  position: relative;
  overflow: hidden;
  background: rgb(74, 185, 65);
  background: linear-gradient(
    90deg,
    rgba(74, 185, 65, 1) 0%,
    rgba(166, 226, 75, 1) 50%
  );
  box-shadow: rgba(0, 0, 0, 0.3) 5px 8px 12px;
  width: 75vw;
  height: 70vh;
  margin-left: 12vw;
  margin-top: 20vh;
  border-radius: 10px;
  clip-path: polygon(
    0 0%,
    10% 0,
    90% 0,
    100% 10%,
    100% 100%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  );
}
// .profile-left {
//   margin-left: -65vw;
// }
.profile-header {
  font-size: xx-large;
  font-weight: 600;
  font-family: "Noir_medium";
  padding-top: 5vh;
}
.profile-icon {
  width: 5vw;
  height: 5vh;
  margin-top: 4vh;
  margin-left: 5vw;
}
.profile-content-main {
  display: flex;
}

.profile-content {
  width: 100%;
  //   text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 10px;
  font-size: larger;
  font-weight: 500;
  font-family: "Noir_regular";
  text-align: justify;
  margin-left: 1vw;
}
.profile-img {
  height: 10vh;
  width: 5vw;
}
.profile-position {
  display: flex;
}
// .profile-top {
//   display: flex;
// }
.profile-left {
  width: 30%;
  text-align: center;
}
.profile-right {
  width: 70%;
  text-align: center;
}
.profile-right-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}
.profile-right-sub {
  margin: 10px;
  height: 15vh;
  width: 10vw;
}
.profile-right-icon {
  height: 7vh;
  width: 7vw;
  margin: 10px;
}
.profile-right-txt {
  margin: 10px;
  font-size: large;
  font-weight: 500;
}
.profile-sub-header {
  font-size: x-large;
  font-weight: 600;
  margin: 2%;
  font-family: "Noir_medium";
}
.profile-btn {
  border-radius: 5px;
  background-color: #175914;
  color: #ffffff;
  font-size: large;
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  font-family: "Noir_regular";
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .profile-main {
    height: 150vh;
  }
  .profile-sub {
    height: 100vh;
  }
  .profile-btn {
    font-size: medium;
    height: 10vh;
    width: 20vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile-btn {
    font-size: medium;
    height: 10vh;
    width: 20vw;
  }
  .profile-main {
    height: 150vh;
  }
  .profile-sub {
    height: 90vh;
  }
}

@media (max-width: 767px) {
  .profile-main {
    height: 150vh;
  }

  .profile-sub {
    width: 95vw;
    height: 95vh;
    margin-left: 2vw;
    margin-top: 20vh;
  }
  .profile-img {
    height: 10vh;
    width: 15vw;
  }
  .profile-content {
    font-size: medium;
  }
  .profile-sub-header {
    font-size: medium;
  }
  .profile-btn-img {
    height: 18vh;
    width: 18vw;
    margin-left: 10px;
  }
  .profile-btn {
    font-size: medium;
    height: 10vh;
    width: 20vw;
  }
}
