.sign-main {
  text-align: center;
  height: 110vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sign-sub {
  position: relative;
  overflow: hidden;
  background: rgb(74, 185, 65);
  background: linear-gradient(90deg,
      rgba(74, 185, 65, 1) 0%,
      rgba(166, 226, 75, 1) 50%);
  box-shadow: rgba(0, 0, 0, 0.3) 5px 8px 12px;
  width: 25vw;
  height: 100vh;
  margin-left: 40%;
  margin-top: 20vh;
  border-radius: 10px;
  clip-path: polygon(0 10%,
      10% 0,
      90% 0,
      100% 0,
      100% 90%,
      90% 100%,
      0 100%,
      0% 90%,
      0% 10%);
}

.sign-header {
  font-size: xx-large;
  font-weight: 400;
  font-family: "Noir_medium";
  padding-top: 10px;
}

.sign-icon {
  height: 5vh;
  width: 5vw;
  margin-top: 2vh;
}

.sign-text-field {
  border-radius: 5px;
  height: 5vh;
  width: 15vw;
  margin-bottom: 5vh;
}

.sign-btn {
  border-radius: 5px;
  background-color: #175914;
  color: #ffffff;
  font-size: large;
  height: 5vh;
  width: 8vw;
  cursor: pointer;
  font-family: "Noir_regular";
  margin: 10px;
}

.file {
  background-color: #ffffff;
  color: grey;
  font-family: inherit;
  font-size: inherit;
  width: auto;
}

.picked-image {
  // z-index: ;
  margin: 0 auto;
  // background-color: #175912;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.uploaded-image {
  height: 50px;
  width: 50px;
}

.upload-file-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .sign-main {
    height: 150vh;
  }

  .sign-sub {
    width: 40vw;
    height: 90vh;
    margin-left: 30%;
    margin-top: 30vh;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sign-main {
    height: 150vh;
  }

  .sign-sub {
    width: 50vw;
    height: 90vh;
    margin-left: 25%;
    margin-top: 30vh;
  }

  .sign-header {
    padding-top: 20px;
  }

  .sign-btn {
    height: 7vh;
    width: 15vw;
    margin-bottom: 20px;
  }

  .file {
    width: auto;
  }
}

@media (max-width: 767px) {
  .sign-main {
    height: 130vh;
  }

  .sign-sub {
    width: 75vw;
    height: 80vh;
    margin-left: 12vw;
    margin-top: 20vh;
  }

  .sign-text-field {
    height: 5vh;
    width: 30vw;
  }

  .sign-btn {
    height: 7vh;
    width: 25vw;
  }

  .file {
    width: auto;
  }
}