@font-face {
  font-family: "Noir_medium";
  src: local("Noir_medium"), url("./images/Noir_medium.otf") format("truetype");
}

@font-face {
  font-family: "/Noir_regular";
  src: local("/Noir_regular"),
    url("./images/Noir_regular.otf") format("truetype");
}

@font-face {
  font-family: "/MyriadPro-Bold";
  src: local("/MyriadPro-Bold"),
    url("./images/MyriadPro-Bold.otf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
